/* Modal */
.ReactModalPortal > div{
    opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
    align-items: center;
    display: flex;
    justify-content: center;
    transition: opacity .2s ease-in-out;
    z-index: 999;
}

.modal-fondo {
    background-color: rgba(0, 0, 0, 0.3);
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    position: fixed;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
    opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
    opacity: 0;
}

.modal {
    background: white;
    border-radius: 5px;
    color: rgb(51, 51, 51);
    display: inline;
    max-height: 620px;
    max-width: 900px;
    outline: none;
    padding: 10px;
    z-index: 999999;
}

.div-icon-close  {
    display: flex;
    justify-content: flex-end;
}
.div-icon-close i{
    color: rgb(194, 194, 194);
    margin-right: 5px;
}

.title-guest{
   text-align: center;
   margin-bottom: 20px;
   color: #7A7A7A;
}

.pointer {
    cursor: pointer;
}
.btn {
    width: 100%;
}

.error {
    text-align: center;
    color: red;
}

.divTable {
    height: 50%;
    overflow: hidden;
    overflow-y: auto;
    overflow-x: auto;
}

.divAddGuest {
    height: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgb(231, 231, 231);
    padding-top: 15px;
}

.form-guest {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.icon-delete {
    color: rgb(194, 194, 194);
}


/* Button of Swal */
.buttonEliminar {
    border-radius: 5px;
    background: #FC0071;
    padding: 4px 20px;
    color: #fff;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
    margin-right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.input-guest {
    border: none;
    border-bottom: 2px solid rgb(194, 194, 194);;
    background-color: transparent;
    width: 50%;
    margin-bottom: 10px;
    color: rgb(194, 194, 194);;
    font-size: 20px;
}

.input-guest:focus {
    outline: none;
    border-bottom: 2px solid #FC0071;
}
.input-guest:hover {
    outline: none;
    border-bottom: 2px solid #FC0071;
}

.input-guest::placeholder {
    color: rgb(194, 194, 194);
    font-size: 15px;
}

th {
    color: rgb(95, 95, 95)
}

td {
    color: grey;
}

.button-agregar-invitado {
    border-radius: 50px;
    background: #FC0071;
    margin-top: 20px;
    padding: 10px;
    width: 50%;
    text-align: center;
    color: #fff;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-decoration: none; 
    font-size: 18px;
}
  

.button-agregar-invitado:hover {
    transition: all 0.2s ease-in-out;
    background: #cc005c;
    color: white;
}

  
@media screen and (max-width:450px) {
    .modal {
      max-height: 860px;
      border-radius: 0;
    }
    .divTable {
        height: 53%;
    }
    .divAddGuest {
        height: 35%;
    }
    .input-guest {
        width: 65%;
    }
    .button-agregar-invitado {
        width: 65%;
    }
    
  } 