
h3, h4 {
    color:black;
}

.pointer {
    cursor: pointer;
}
.pointer:hover {
    color: #1b007b
}

.tituloYicono {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.iconWhite{
color: white;
}

.iconGray{
    font-size: 20px;
    color: rgb(194, 194, 194);
    }
