/* Modal */
.ReactModalPortal > div{
    opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
    align-items: center;
    display: flex;
    justify-content: center;
    transition: opacity .2s ease-in-out;
    z-index: 999;
}

.modal-fondo {
    background-color: rgba(0, 0, 0, 0.3);
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    position: fixed;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
    opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
    opacity: 0;
}

.modal {
    background: white;
    border-radius: 5px;
    color: rgb(51, 51, 51);
    display: inline;
    /* max-height: 70%;
    max-width: 50%; */
    max-height: 620px;
    max-width: 500px;
    outline: none;
    padding: 10px;
    z-index: 999999;
}

.form-group {
    margin-bottom: 20px;
}

.encabezado  {
    /* display: flex; */
    align-items: center;
    justify-content:space-between;
}
.encabezado i{
    color: #7A7A7A;
    margin-right: 5px;
}

.encabezado h3{
    margin-left: 10px;
}
.letter {
    height: 500px;
    flex: 1 1 auto;
    overflow-y: auto;
    font-family: 'Caveat', cursive;
    font-size: 24px;
    color: hsl(210, 61%, 38%);
    padding: 25px;
}
.tituloYfecha small{
    margin-bottom: 20px;
    font-size: 90%;
    text-align: center;
}
.tituloYfecha h3{
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Caveat', cursive;
    color: hsl(210, 61%, 38%);  
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}


  .pointer {
    cursor: pointer;
}

.date {
    font-size: 15px;
    font-weight: 400;
    margin-right: 40px;
}


.firma {
    text-transform : capitalize; 
    font-size: 24px; 
    text-align: end;
    padding-right: 25%;
}

.borraryactualizar {
    color: rgb(194, 194, 194);
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
}