/* Modal */
.ReactModalPortal > div{
    opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
    align-items: center;
    display: flex;
    justify-content: center;
    transition: opacity .2s ease-in-out;
    z-index: 999;
}

.modal-fondo {
    background-color: rgba(0, 0, 0, 0.3);
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    position: fixed;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
    opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
    opacity: 0;
}

.modal {
    background: white;
    border-radius: 5px;
    color: rgb(51, 51, 51);
    display: inline;
    max-height: 620px;
    max-width: 500px;
    outline: none;
    padding: 10px;
    z-index: 999999;
}


  .pointer {
    cursor: pointer;
}

.comments-wrapper {
    height: 90%;
    flex: 1 1 auto;
    overflow-y: auto;
    font-size: 24px; 
    padding: 25px 5px 25px 10px;
}
.comments-wrapper h3 {
    /* color :#7A7A7A */
    text-align: center;
}

.post-comments {
    padding: 10px;
    font-size: 18px; 
}

.post-comments small {
    color: rgb(204, 204, 204);
    margin-left: 10px;
}
.post-one-comment {
    display: flex;
}

.post-p {
    flex: 1;
}

.post-button-delete {
    color: #ECECEC;
    align-self: center;
}
.post-button-delete:hover {
    color: #1b007b;
}

.post-form {
    display: flex;
}

.post-input {
    flex:1;
    padding: 10px;
    border: none;
    border-top: 1px solid rgb(231, 231, 231);
    text-decoration: none;
    color: rgb(142, 142,142);
}

.post-input:focus {
    outline: none;
}

.post-button {
    flex: 0;
    border: none;
    color: #5480ac;
    background-color: transparent;
    border-top: 1px solid  rgb(231, 231, 231)

}

.button-close {
    border-radius: 5px;
    border: 2px solid #FC0071;
    color: #FC0071;
    background: white;
    padding: 4px 20px;
    font-weight: bolder;
    outline: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
}

.button-close:hover {
    border: 2px solid #1b007b;
    color: #1b007b;
}