/* Modal */
.ReactModalPortal > div{
    opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
    align-items: center;
    display: flex;
    justify-content: center;
    transition: opacity .2s ease-in-out;
    z-index: 999;
}

.modal-fondo {
    background-color: rgba(0, 0, 0, 0.3);
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    position: fixed;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
    opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
    opacity: 0;
}

.modal {
    background: white;
    border-radius: 5px;
    color: rgb(51, 51, 51);
    display: inline;
    max-height: 620px;
    max-width: 500px;
    outline: none;
    padding: 10px;
    z-index: 999999;
}

.form-group {
    margin-bottom: 20px;
}

.div-icon-close  {
    display: flex;
    justify-content: flex-end;
}
.div-icon-close i{
    color: rgb(194, 194, 194);
}

.title-add-letter {
    text-align: center;
    margin-bottom: 10px;
    color: #7A7A7A;
}

.div-add-letter {
    display: flex;
    height: 80%;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.form-add-letter{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.input-add-letter {
    border: none;
    border-bottom: 2px solid rgb(194, 194, 194);;
    background-color: transparent;
    width: 50%;
    margin-bottom: 20px;
    color: #7A7A7A;
    font-size: 20px;
}
.input-add-letter:focus {
    outline: none;
    border-bottom: 2px solid #FC0071;
}
.input-add-letter:hover {
    outline: none;
    border-bottom: 2px solid #FC0071;
}

.input-add-letter::placeholder {
    color: rgb(194, 194, 194);
    font-size: 15px;
}

.form-control {
    border: none !important;
    color: rgb(194, 194, 194);
    font-size: 15px;
    padding: 0;
}

.pointer {
    cursor: pointer;
}
.btn {
    width: 100%;
}

.error {
    text-align: center;
    color: red;
}

.button-add-letter {
    border-radius: 50px;
    background: #FC0071;
    margin-top: 20px;
    padding: 10px;
    width: 50%;
    text-align: center;
    color: #fff;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
    font-size: 18px;
}
  

.button-add-letter:hover {
    transition: all 0.2s ease-in-out;
    background: #cc005c;
    color: white;
}

@media screen and (max-width:450px) {

    .div-add-letter {
        height: 85%;
    }

    .input-add-letter {
        width: 65%;
        margin-bottom: 30px;
    }
    .input-add-letter::placeholder {
        font-size: 18px;
    }

    .button-add-letter {
        width: 65%;
    }
    
  } 