/* Modal */
.ReactModalPortal > div{
    opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
    align-items: center;
    display: flex;
    justify-content: center;
    transition: opacity .2s ease-in-out;
    z-index: 999;
}

.modal-fondo {
    background-color: rgba(0, 0, 0, 0.3);
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    position: fixed;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
    opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
    opacity: 0;
}

.modal {
    background: white;
    border-radius: 5px;
    color: rgb(51, 51, 51);
    display: inline;
    max-height: 620px;
    max-width: 500px;
    outline: none;
    padding: 10px;
    z-index: 999999;
}

.div-icon-close {
    display: flex;
    justify-content:flex-end;
}
.div-icon-close i {
    color: rgb(194, 194, 194)
}

.title-add-photos {
    text-align: center;
    margin-bottom: 40px;
    color: #7A7A7A;
}

.pointer {
    cursor: pointer;
}

.btn {
    width: 100%;
}

.cargando {
    width: 100%;
    height: 100%;
    position: relative;
}

.content {
        top: 50%;
    left: 50%;
    position: absolute;
    margin: -50px 0 0 -70px;
}   

.spinner-border {
    margin-left: 35%;
}


.button-agregar {
    border-radius: 50px;
    background: #FC0071;
    margin-top: 30px;
    padding: 10px;
    width: 60%;
    text-align: center;
    color: #fff;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
    font-size: 20px;
}
  

.button-agregar:hover {
    transition: all 0.2s ease-in-out;
    background: #cc005c;
    color: white;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.input-add-photos {
    border: none;
    border-bottom: 2px solid rgb(194, 194, 194);;
    background-color: transparent;
    width: 60%;
    margin-right: 5px;
    color: rgb(194, 194, 194);;
    font-size: 20px;
    margin-bottom: 30px;
   
}

.input-add-photos:focus {
    outline: none !important;
    border-bottom: 2px solid #FC0071;
}

.input-add-photos:hover {
    outline: none;
    border-bottom: 2px solid #FC0071;
}

.icon-upload {
   margin-right: 0px;
}

.icon-upload:hover {
    color: #FC0071;
}

.input-add-photos::placeholder {
    color: rgb(194, 194, 194);
    font-size: 18px;
}

.form-control {
    border: none !important;
    color: rgb(194, 194, 194);
    font-size: 15px;
    padding: 0;
}
 

.form-control :focus {
    outline: none !important;
    border-bottom: 2px solid #FC0071 !important;
}

input[type="file"] {
    display: none;
}

.margin-plus {
    margin-top: 30px;
    cursor: pointer;
}

.text-small {
    font-size: 15px;
}


.div-label {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width:450px) {
    .input-add-photos {
        width: 90%;
    }
    .form-control { 
        font-size: 18px;
    }
    .button-agregar {
        width: 90%;
    }
  } 